@import "compass_twitter_bootstrap";

#resources {
    display: none !important;
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    & > .page-header big {
        color: #333;
    }
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}