@import "compass_twitter_bootstrap";

@mixin fadein {

    opacity: 0.4;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;

    .touch &,
    &:hover {

        opacity: 1;
    }
}

#resources {
    display: none !important;
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    header .page-header big {
        color: #333;
    }

    .tagline {
        font-weight: normal;
    }
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#controls {
    position: relative;
    z-index: 2;

    @include fadein;
}

.grav-msg {

    display: none;
}

.device-orientation .grav-msg {
    display: block;
}

.share-links {
    margin-top: 1em;
}

footer {
    position: relative;
    z-index: 2;

    @include fadein;
}